In [3]:
import json
import re 
from html import unescape
import pandas as pd

data = []
with open('/content/ranking_test.jsonl', 'r') as f:
    for line in f:
        json_data = json.loads(line.strip())
        post_text = unescape(json_data['text'])
        post_text = post_text.replace('\'', '').replace('\n', '').replace('\t', '')
        comments = json_data['comments']
        for comment in comments:
            comment_text = unescape(comment['text'])
            comment_text = re.sub(r'[^a-zA-Z,. ]|(http\S+)|(https\S+)', '', comment_text)
            comment_text = re.sub('\s+', ' ', comment_text).strip()
  
            score = comment.get('score')
            data.append({'post_text': post_text, 'comment': comment_text, 'score': score})

df_test = pd.DataFrame(data)

In [8]:
df_test.head()

,post_text,comment,score
0,"iOS 8.0.1 released, broken on iPhone 6 models,...",Im still waiting for them to stabilize wifi on...,None
1,"iOS 8.0.1 released, broken on iPhone 6 models,...","For those who upgraded, no need to do a restor...",None
2,"iOS 8.0.1 released, broken on iPhone 6 models,...",Upgraded shortly after it was released and suf...,None
3,"iOS 8.0.1 released, broken on iPhone 6 models,...",I think they were under a lot of pressure on t...,None
4,"iOS 8.0.1 released, broken on iPhone 6 models,...",Fix for those who already updated,None

In [6]:
df_test.to_csv(r'/content/test_data.csv', index= False )

In [9]:
data = []
with open('/content/ranking_train.jsonl', 'r') as f:
    for line in f:
        json_data = json.loads(line.strip())
        post_text = unescape(json_data['text'])
        post_text = post_text.replace('\'', '').replace('\n', '').replace('\t', '')
        comments = json_data['comments']
        for comment in comments:
            comment_text = unescape(comment['text'])
            comment_text = re.sub(r'[^a-zA-Z,. ]|(http\S+)|(https\S+)', '', comment_text)
            comment_text = re.sub('\s+', ' ', comment_text).strip()
  
            score = comment.get('score')
            data.append({'post_text': post_text, 'comment': comment_text, 'score': score})

df_train = pd.DataFrame(data)

In [10]:
df_train.head()

,post_text,comment,score
0,How many summer Y Combinator fundees decided n...,Going back to school is not identical with giv...,0
1,How many summer Y Combinator fundees decided n...,There will invariably be those who dont see th...,1
2,How many summer Y Combinator fundees decided n...,For me school is a way to be connected to what...,2
3,How many summer Y Combinator fundees decided n...,I guess it really depends on how hungry you ar...,3
4,How many summer Y Combinator fundees decided n...,I know pollground decided to go back to school...,4

In [11]:
df_train.to_csv(r'/content/train_data.csv', index= False)